.cabinet {
  display: flex;
}
.cabinet__form {
  width: 34rem;
}
.cabinet_avatar {
  flex-grow: 1;
  padding-left: 11rem;
  img {
    display: block;
    margin-bottom: 1.5rem;
  }
}
.cabinet__file {
  font-size: 1.4rem;
  color: $blue;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
  input {
    display: none;
  }
}
