.form__group {
  position: relative;
  margin-bottom: 1.5rem;
}
.form__control {
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  background: none;
  border: none;
  border-bottom: 1px solid #3f3f3f;
  border-radius: 0;
  box-shadow: none;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 500;
  color: $white;
  line-height: 16px;
  &::placeholder {
    color: rgba($white, 0.2);
  }
  &:focus + .form__line {
    width: 100%;
  }
  &--textarea {
    overflow: hidden;
    height: 26px;
    resize: none;
  }
}
.form__line {
  width: 0;
  height: 1px;
  background-color: $blue;
  position: absolute;
  bottom: 0;
  z-index: 1;
  transition: width 0.2s linear;
}
.comments__button {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.1;
  color: $white;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 0.41rem;
  cursor: pointer;
  background: $blue;
  box-shadow: 0 7px 17px -10px rgba(49, 55, 201, 0.2);
  transition: background-color 0.2s linear;
  &:hover {
    background-color: darken($blue, 10%);
  }
}
