<div class="modal" id="contact-modal">
    <div class="modal__content modal__content--contact">
        <form class="form form--auth" action="/" method="POST">
            <div class="form__group form__group--mb">
                <input class="form__control" type="text" placeholder="Ваше имя" value="Роман Клочков">
                <span class="form__line"></span>
            </div>
            <div class="form__group form__group--mb">
                <input class="form__control" type="email" placeholder="Ваше e-mail">
                <span class="form__line"></span>
            </div>
            <div class="form__group form__group--mb">
                <textarea class="form__control form__control--textarea" type="text" placeholder="Текст сообщения"></textarea>
                <span class="form__line"></span>
            </div>
            <div class="form__footer form__footer--center">
                <div class="form__group form__group--mb">
                    <button class="btn btn--blue btn--rounded btn--sm" type="submit">Отправить</button>
                </div>
            </div>
        </form>
        <ul class="modal__footer">
           <li>e-mail:
               <a href="mailto:romanrus98@mail.ru">romanrus98@mail.ru</a>
            </li>
           <li>тел:
               <a href="tel:+79872495612">+7 (987) 249-56-12</a>
            </li> 
        </ul>
        <button class="modal__close" type="button">
            <img src="../assets/images/cancel.svg" alt="Закрыть">
        </button>
        
    </div>
</div>